body {
  color: #667;
}

.text-primary {
  color: #667 !important;
}

.h1, h1 {
  font-size: 3.3rem;
  font-weight: 700;
  margin: 0;
}

.h2, h2 {
  font-size: 1.4rem;
  font-weight: 100;
  margin: 0;
}

a {
  color: #74d0f3;
}

.malibu {
  color: #74d0f3;
}

a:hover, a:focus {
  color: #b3b3c9;
}

.thesaas-sections-split .section {
  margin: 30px 50px 100px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  border: 1px solid #ebebeb;
}

.thesaas-sections-split .section-info {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  padding-top: 60px;
}

.features-rp {
  padding-right: 150px;
}

.partner-coop {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: left;
          align-items: left;
  -webkit-box-pack: left;
          justify-content: left;
  text-align: left;
  flex-wrap: wrap;
}

.partner-coop img {
  margin: 16px 24px 0 0;
  max-width: 100%;
}

@media (max-width: 768px) {

  .thesaas-sections-split .section {
    margin: 30px 0 100px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

  .h1, h1 {
    font-size: 3.0rem;
    font-weight: 600;
    margin: 0;
  }

  .h2, h2 {
    font-size: 1.1rem;
    font-weight: 100;
    margin: 0;
  }

  .features-rp {
    padding-right: 0px;
  }

  .partner-coop {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    text-align: center;
    flex-wrap: wrap;
  }

}

@media (max-width: 575px) {

  .h1, h1 {
    font-size: 1.8rem;
    font-weight: 350;
    margin: 0;
  }

  .h2, h2 {
    font-size: 1rem;
    font-weight: 100;
  }

  .features-rp {
    padding-right: 0px;
  }

  .partner-coop {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    text-align: center;
    flex-wrap: wrap;
  }

}

@media (max-width: 400px) {

  .h1, h1 {
    font-size: 1.8rem;
    font-weight: 350;
    margin: 0;
  }

  .h2, h2 {
    font-size: 1rem;
    font-weight: 100;
  }

  a.mr-4 {
    display: none !important;
  }

  .features-rp {
    padding-right: 0px;
  }

  .nav-hero .nav-link {
    font-size: 9px;
}

.partner-coop {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

}


/* Robs styles */
.navbar-meta {
  text-transform: uppercase;
  font-size: 10px;
  padding: 0px;
}

.site-footer {
  padding: 16px 0px 14px;
}

.footer-rainbow {
  height: 10px;
  background-image: url('../img/anyshare-bottom-color.png');
  background-position: 0px 0px;
  background-size: 210px 10px;
  background-repeat: repeat-x;
}

.bg-inverse {
    background-color: #2c2c2c !important;
}

.site-footer {
    border-top: 1px solid #000;
}

.btn-github, .btn-github:hover {
  background-color: #000;
  border-color: #000;
  color: #fff;
}

.btn-github:hover {
  -webkit-box-shadow: 0 2px 10px rgba(59, 89, 152, 0.4);
          box-shadow: 0 2px 10px rgba(59, 89, 152, 0.4);
}

.btn-github:focus, .btn-github.focus {
  color: #000;
}

.btn-github.disabled, .btn-github:disabled {
  background-color: #000;
  border-color: #000;
  opacity: 0.5;
}

.btn-github:active, .btn-github.active,
.show > .btn-github.dropdown-toggle {
  background-color: #000;
  border-color: #000;
  color: #000;
}

.social a.social-github:hover {
  color: #000 !important;
}

.text-malibu {
  color: #74d0f3 !important;
}

/* Erics styles */

.fpnegative-image {
  position:absolute;
  top:-50px !important;
  padding-bottom: 20px !important;
}

.negative-image30 {
  margin-top:-30px !important;
}

.positive-image30 {
  margin-top:30px !important;
}

.medium {
  font-size: 1.1rem;
}

.topbar-expand-md .topbar-toggler {
    display: none;
}

.nav-primary .nav-link:hover:not(.disabled), .nav-primary .nav-link:focus:not(.disabled) {
    color: #b3b3c9;
}
.drawer-toggler:hover {
    color: #b3b3c9 !important;
}

.nav-link {
    color: #999;
}

.max-450 {
  max-width: 450px;
}

.max-300 {
  max-width: 300px;
}

.row.gap-y-30 {
  margin-top: -15px;
  margin-bottom: -15px;
}

.btn {
    font-size: 12px;
}

.btn-group-xs > .btn, .btn-xs {
    font-size: 12px;
    padding: 2px 16px;
}

.btn-group-sm > .btn, .btn-sm {
    font-size: 12px;
    padding: 3px 17px;
}

.btn-group-lg > .btn, .btn-lg {
    font-size: 15px;
    padding: 3px 25px;
}

.loggedin {
  font-size: 12px;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  font-weight: 600;
}

/* Logo Colors - bg styles */
.bg-flamingo {
  background-color: #Ef4345;
}

.bg-jaffa {
  background-color: #F37955;
}

.bg-rajah {
  background-color: #Fbb268;
}

.bg-brilliantrose {
  background-color: #Ef5f9d;
}

.bg-cancan {
  background-color: #D790a9;
}

.bg-caper {
  background-color: #E5ebab;
}

.bg-viola {
  background-color: #D08abb;
}

.bg-wistful {
  background-color: #B1aad4;
}

.bg-malibu {
  background-color: #74d0f3;
}


/* Logo Colors - button styles */

.btn-malibu {
    background-color: #74d0f3;
    border-color: #74d0f3;
    color: #fff;
}

.btn-malibu:hover {
    background-color: #b3b3c9;
    border-color: #b3b3c9;
    color: #fff;
}

.btn-malibu-outline {
  color: #74d0f3;
  background-color: transparent;
  border-color: #74d0f3;
}

.btn-malibu-outline:hover {
  color: #fff;
  background-color: #b3b3c9;
  border-color: #b3b3c9;
}

.btn-flamingo {
    background-color: #Ef4345;
    border-color: #Ef4345;
    color: #fff;
}

.btn-flamingo:hover {
    background-color: #b3b3c9;
    border-color: #b3b3c9;
    color: #fff;
}

.btn-jaffa {
    background-color: #F37955;
    border-color: #F37955;
    color: #fff;
}

.btn-jaffa:hover {
    background-color: #b3b3c9;
    border-color: #b3b3c9;
    color: #fff;
}

.btn-rajah {
    background-color: #Fbb268;
    border-color: #Fbb268;
    color: #fff;
}

.btn-rajah:hover {
    background-color: #b3b3c9;
    border-color: #b3b3c9;
    color: #fff;
}

.btn-brilliantrose {
    background-color: #Ef5f9d;
    border-color: #Ef5f9d;
    color: #fff;
}

.btn-brilliantrose:hover {
    background-color: #b3b3c9;
    border-color: #b3b3c9;
    color: #fff;
}

.btn-cancan {
    background-color: #D790a9;
    border-color: #D790a9;
    color: #fff;
}

.btn-cancan:hover {
    background-color: #b3b3c9;
    border-color: #b3b3c9;
    color: #fff;
}

.btn-caper {
    background-color: #E5ebab;
    border-color: #E5ebab;
    color: #fff;
}

.btn-caper:hover {
    background-color: #b3b3c9;
    border-color: #b3b3c9;
    color: #fff;
}

.btn-viola {
    background-color: #D08abb;
    border-color: #D08abb;
    color: #fff;
}

.btn-viola:hover {
    background-color: #b3b3c9;
    border-color: #b3b3c9;
    color: #fff;
}

.btn-wistful {
    background-color: #B1aad4;
    border-color: #B1aad4;
    color: #fff;
}

.btn-wistful:hover {
    background-color: #b3b3c9;
    border-color: #b3b3c9;
    color: #fff;
}

body > footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 63px;
}

html {
  height: 100%;
  box-sizing: border-box;
}


body {
  position: relative;
  margin: 0;
  padding-bottom: 63px;
  min-height: 100%;
}

#history table {
  margin: 0 auto;
  min-width: 350px;
  border: #eee 2px solid;
  border-radius: 5px;
}

#history table th {
  font-size: 22px;
}

.sky-form {
  color: #333;
  text-align: left;
  padding: 0;
  font-size: 14px;
  font-weight: 300;
}

.sky-form .label {
  color: #333;
  text-align: left;
  padding: 0;
  font-size: 14px;
  font-weight: 300;
}

.checkbox + .checkbox,
.radio + .radio {
  margin-top: 12px;
}

.sky-form.boxed {
  border: rgba(0, 0, 0, 0.1) solid 1px;
}

.sky-form header {
  margin: 0;
  background: linear-gradient(to bottom, #fff 1%, #f9f9f9 98%);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-bottom: rgba(0, 0, 0, 0.07) 1px solid;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 400;
}

.sky-form.boxed fieldset {
  padding: 15px;
}
.sky-form .btn {
  margin: 10px 0 0 15px;
}

.sky-form .btn:hover {
  margin-bottom: 0;
}

.sky-form .input-group-btn .btn {
  margin: 0;
}

.sky-form footer {
  padding: 8px 0;
  margin: 0 15px 0;
  border-top: rgba(0, 0, 0, 0.03) 1px solid;
}

.sky-form .input input,
.sky-form .select select,
.sky-form .textarea textarea {
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 8px 10px;
  outline: 0;
  border-width: 2px;
  border-style: solid;
  border-radius: 0;
  background: #fff;
  font: 15px/19px 'Open Sans',Helvetica,Arial,sans-serif;
  color: #404040 !important;
  appearance: normal;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.sky-form .checkbox i,
.sky-form .ico-append,
.sky-form .ico-prepend,
.sky-form .input input,
.sky-form .radio i,
.sky-form .select select,
.sky-form .textarea textarea {
  border-color: #e5e5e5;
}

.sky-form .button,
.sky-form .checkbox,
.sky-form .input,
.sky-form .radio,
.sky-form .select,
.sky-form .textarea,
.sky-form .toggle {
  position: relative;
  display: block;
}

.sky-form .ico-append {
  right: 5px;
  padding-left: 3px;
  border-left-width: 1px;
  border-left-style: solid;
  position: absolute;
  top: 5px;
  width: 29px;
  height: 29px;
  font-size: 15px;
  line-height: 29px;
  text-align: center;
  color: #ccc;
}

.sky-form .ico-prepend {
  position: absolute;
  top: 5px;
  width: 29px;
  height: 29px;
  font-size: 15px;
  line-height: 29px;
  text-align: center;
  color: #ccc;
}

.sky-form .checkbox i {
  position: absolute;
  top: 5px;
  left: 0;
  display: block;
  width: 19px;
  height: 19px;
  outline: 0;
  border-width: 2px;
  border-style: solid;
  background: #fff;
}

.sky-form .radio i {
  position: absolute;
  top: 5px;
  left: 0;
  display: block;
  width: 19px;
  height: 19px;
  outline: 0;
  border-width: 2px;
  border-style: solid;
  background: #fff;
  border-radius: 50%;
}

.sky-form .checkbox input + i:after {
  position: absolute;
  opacity: 0;
  transition: opacity .1s;
  -o-transition: opacity .1s;
  -ms-transition: opacity .1s;
  -moz-transition: opacity .1s;
  -webkit-transition: opacity .1s;
}

.sky-form .radio input + i:after {
  position: absolute;
  opacity: 0;
  transition: opacity .1s;
  -o-transition: opacity .1s;
  -ms-transition: opacity .1s;
  -moz-transition: opacity .1s;
  -webkit-transition: opacity .1s;
  content: '';
  top: 5px;
  left: 5px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.sky-form .checkbox input + i:after {
  content: '\f00c';
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  font: 400 12px/16px FontAwesome;
  text-align: center;
}

.sky-form .checkbox input:checked + i:after {
  opacity: 1;
}

.sky-form .radio input:checked + i:after {
  opacity: 1;
}

.sky-form .checkbox input,
.sky-form .radio input {
  position: absolute;
  left: -9999px;
}

.sky-form .checkbox,
.sky-form .radio {
  margin-bottom: 4px;
  padding-left: 27px;
  font-size: 12px;
  line-height: 27px;
  color: #404040;
  cursor: pointer;
}


.sky-form select {
  font-weight: normal;
  color: #757575;
}

.nomargin {
  margin: 0 !important;
}
.margin-top-0 {
  margin-top: 0px !important;
}

.margin-right-0 {
  margin-right: 0px !important;
}

.margin-bottom-0 {
  margin-bottom: 0px !important;
}

.margin-left-0 {
  margin-left: 0px !important;
}

.margin-x-0 {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.margin-y-0 {
  margin-top: 0px;
  margin-bottom: 0px !important;
}

.margin-all-0 {
  margin: 0px !important;
}

.padding-top-0 {
  padding-top: 0px !important;
}

.padding-right-0 {
  padding-right: 0px !important;
}

.padding-bottom-0 {
  padding-bottom: 0px !important;
}

.padding-left-0 {
  padding-left: 0px !important;
}

.padding-x-0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.padding-y-0 {
  padding-top: 0px;
  padding-bottom: 0px !important;
}

.padding-all-0 {
  padding: 0px !important;
}

.margin-top-1 {
  margin-top: 1px !important;
}

.margin-right-1 {
  margin-right: 1px !important;
}

.margin-bottom-1 {
  margin-bottom: 1px !important;
}

.margin-left-1 {
  margin-left: 1px !important;
}

.margin-x-1 {
  margin-left: 1px !important;
  margin-right: 1px !important;
}

.margin-y-1 {
  margin-top: 1px;
  margin-bottom: 1px !important;
}

.margin-all-1 {
  margin: 1px !important;
}

.padding-top-1 {
  padding-top: 1px !important;
}

.padding-right-1 {
  padding-right: 1px !important;
}

.padding-bottom-1 {
  padding-bottom: 1px !important;
}

.padding-left-1 {
  padding-left: 1px !important;
}

.padding-x-1 {
  padding-left: 1px !important;
  padding-right: 1px !important;
}

.padding-y-1 {
  padding-top: 1px;
  padding-bottom: 1px !important;
}

.padding-all-1 {
  padding: 1px !important;
}

.margin-top-2 {
  margin-top: 2px !important;
}

.margin-right-2 {
  margin-right: 2px !important;
}

.margin-bottom-2 {
  margin-bottom: 2px !important;
}

.margin-left-2 {
  margin-left: 2px !important;
}

.margin-x-2 {
  margin-left: 2px !important;
  margin-right: 2px !important;
}

.margin-y-2 {
  margin-top: 2px;
  margin-bottom: 2px !important;
}

.margin-all-2 {
  margin: 2px !important;
}

.padding-top-2 {
  padding-top: 2px !important;
}

.padding-right-2 {
  padding-right: 2px !important;
}

.padding-bottom-2 {
  padding-bottom: 2px !important;
}

.padding-left-2 {
  padding-left: 2px !important;
}

.padding-x-2 {
  padding-left: 2px !important;
  padding-right: 2px !important;
}

.padding-y-2 {
  padding-top: 2px;
  padding-bottom: 2px !important;
}

.padding-all-2 {
  padding: 2px !important;
}

.margin-top-3 {
  margin-top: 3px !important;
}

.margin-right-3 {
  margin-right: 3px !important;
}

.margin-bottom-3 {
  margin-bottom: 3px !important;
}

.margin-left-3 {
  margin-left: 3px !important;
}

.margin-x-3 {
  margin-left: 3px !important;
  margin-right: 3px !important;
}

.margin-y-3 {
  margin-top: 3px;
  margin-bottom: 3px !important;
}

.margin-all-3 {
  margin: 3px !important;
}

.padding-top-3 {
  padding-top: 3px !important;
}

.padding-right-3 {
  padding-right: 3px !important;
}

.padding-bottom-3 {
  padding-bottom: 3px !important;
}

.padding-left-3 {
  padding-left: 3px !important;
}

.padding-x-3 {
  padding-left: 3px !important;
  padding-right: 3px !important;
}

.padding-y-3 {
  padding-top: 3px;
  padding-bottom: 3px !important;
}

.padding-all-3 {
  padding: 3px !important;
}

.margin-top-4 {
  margin-top: 4px !important;
}

.margin-right-4 {
  margin-right: 4px !important;
}

.margin-bottom-4 {
  margin-bottom: 4px !important;
}

.margin-left-4 {
  margin-left: 4px !important;
}

.margin-x-4 {
  margin-left: 4px !important;
  margin-right: 4px !important;
}

.margin-y-4 {
  margin-top: 4px;
  margin-bottom: 4px !important;
}

.margin-all-4 {
  margin: 4px !important;
}

.padding-top-4 {
  padding-top: 4px !important;
}

.padding-right-4 {
  padding-right: 4px !important;
}

.padding-bottom-4 {
  padding-bottom: 4px !important;
}

.padding-left-4 {
  padding-left: 4px !important;
}

.padding-x-4 {
  padding-left: 4px !important;
  padding-right: 4px !important;
}

.padding-y-4 {
  padding-top: 4px;
  padding-bottom: 4px !important;
}

.padding-all-4 {
  padding: 4px !important;
}

.margin-top-5 {
  margin-top: 5px !important;
}

.margin-right-5 {
  margin-right: 5px !important;
}

.margin-bottom-5 {
  margin-bottom: 5px !important;
}

.margin-left-5 {
  margin-left: 5px !important;
}

.margin-x-5 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.margin-y-5 {
  margin-top: 5px;
  margin-bottom: 5px !important;
}

.margin-all-5 {
  margin: 5px !important;
}

.padding-top-5 {
  padding-top: 5px !important;
}

.padding-right-5 {
  padding-right: 5px !important;
}

.padding-bottom-5 {
  padding-bottom: 5px !important;
}

.padding-left-5 {
  padding-left: 5px !important;
}

.padding-x-5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.padding-y-5 {
  padding-top: 5px;
  padding-bottom: 5px !important;
}

.padding-all-5 {
  padding: 5px !important;
}

.margin-top-6 {
  margin-top: 6px !important;
}

.margin-right-6 {
  margin-right: 6px !important;
}

.margin-bottom-6 {
  margin-bottom: 6px !important;
}

.margin-left-6 {
  margin-left: 6px !important;
}

.margin-x-6 {
  margin-left: 6px !important;
  margin-right: 6px !important;
}

.margin-y-6 {
  margin-top: 6px;
  margin-bottom: 6px !important;
}

.margin-all-6 {
  margin: 6px !important;
}

.padding-top-6 {
  padding-top: 6px !important;
}

.padding-right-6 {
  padding-right: 6px !important;
}

.padding-bottom-6 {
  padding-bottom: 6px !important;
}

.padding-left-6 {
  padding-left: 6px !important;
}

.padding-x-6 {
  padding-left: 6px !important;
  padding-right: 6px !important;
}

.padding-y-6 {
  padding-top: 6px;
  padding-bottom: 6px !important;
}

.padding-all-6 {
  padding: 6px !important;
}

.margin-top-7 {
  margin-top: 7px !important;
}

.margin-right-7 {
  margin-right: 7px !important;
}

.margin-bottom-7 {
  margin-bottom: 7px !important;
}

.margin-left-7 {
  margin-left: 7px !important;
}

.margin-x-7 {
  margin-left: 7px !important;
  margin-right: 7px !important;
}

.margin-y-7 {
  margin-top: 7px;
  margin-bottom: 7px !important;
}

.margin-all-7 {
  margin: 7px !important;
}

.padding-top-7 {
  padding-top: 7px !important;
}

.padding-right-7 {
  padding-right: 7px !important;
}

.padding-bottom-7 {
  padding-bottom: 7px !important;
}

.padding-left-7 {
  padding-left: 7px !important;
}

.padding-x-7 {
  padding-left: 7px !important;
  padding-right: 7px !important;
}

.padding-y-7 {
  padding-top: 7px;
  padding-bottom: 7px !important;
}

.padding-all-7 {
  padding: 7px !important;
}

.margin-top-8 {
  margin-top: 8px !important;
}

.margin-right-8 {
  margin-right: 8px !important;
}

.margin-bottom-8 {
  margin-bottom: 8px !important;
}

.margin-left-8 {
  margin-left: 8px !important;
}

.margin-x-8 {
  margin-left: 8px !important;
  margin-right: 8px !important;
}

.margin-y-8 {
  margin-top: 8px;
  margin-bottom: 8px !important;
}

.margin-all-8 {
  margin: 8px !important;
}

.padding-top-8 {
  padding-top: 8px !important;
}

.padding-right-8 {
  padding-right: 8px !important;
}

.padding-bottom-8 {
  padding-bottom: 8px !important;
}

.padding-left-8 {
  padding-left: 8px !important;
}

.padding-x-8 {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.padding-y-8 {
  padding-top: 8px;
  padding-bottom: 8px !important;
}

.padding-all-8 {
  padding: 8px !important;
}

.margin-top-9 {
  margin-top: 9px !important;
}

.margin-right-9 {
  margin-right: 9px !important;
}

.margin-bottom-9 {
  margin-bottom: 9px !important;
}

.margin-left-9 {
  margin-left: 9px !important;
}

.margin-x-9 {
  margin-left: 9px !important;
  margin-right: 9px !important;
}

.margin-y-9 {
  margin-top: 9px;
  margin-bottom: 9px !important;
}

.margin-all-9 {
  margin: 9px !important;
}

.padding-top-9 {
  padding-top: 9px !important;
}

.padding-right-9 {
  padding-right: 9px !important;
}

.padding-bottom-9 {
  padding-bottom: 9px !important;
}

.padding-left-9 {
  padding-left: 9px !important;
}

.padding-x-9 {
  padding-left: 9px !important;
  padding-right: 9px !important;
}

.padding-y-9 {
  padding-top: 9px;
  padding-bottom: 9px !important;
}

.padding-all-9 {
  padding: 9px !important;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.margin-right-10 {
  margin-right: 10px !important;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.margin-left-10 {
  margin-left: 10px !important;
}

.margin-x-10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.margin-y-10 {
  margin-top: 10px;
  margin-bottom: 10px !important;
}

.margin-all-10 {
  margin: 10px !important;
}

.padding-top-10 {
  padding-top: 10px !important;
}

.padding-right-10 {
  padding-right: 10px !important;
}

.padding-bottom-10 {
  padding-bottom: 10px !important;
}

.padding-left-10 {
  padding-left: 10px !important;
}

.padding-x-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.padding-y-10 {
  padding-top: 10px;
  padding-bottom: 10px !important;
}

.padding-all-10 {
  padding: 10px !important;
}

.margin-top-0 {
  margin-top: 0px !important;
}

.margin-right-0 {
  margin-right: 0px !important;
}

.margin-bottom-0 {
  margin-bottom: 0px !important;
}

.margin-left-0 {
  margin-left: 0px !important;
}

.margin-x-0 {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.margin-y-0 {
  margin-top: 0px;
  margin-bottom: 0px !important;
}

.margin-all-0 {
  margin: 0px !important;
}

.padding-top-0 {
  padding-top: 0px !important;
}

.padding-right-0 {
  padding-right: 0px !important;
}

.padding-bottom-0 {
  padding-bottom: 0px !important;
}

.padding-left-0 {
  padding-left: 0px !important;
}

.padding-x-0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.padding-y-0 {
  padding-top: 0px;
  padding-bottom: 0px !important;
}

.padding-all-0 {
  padding: 0px !important;
}

.margin-top-5 {
  margin-top: 5px !important;
}

.margin-right-5 {
  margin-right: 5px !important;
}

.margin-bottom-5 {
  margin-bottom: 5px !important;
}

.margin-left-5 {
  margin-left: 5px !important;
}

.margin-x-5 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.margin-y-5 {
  margin-top: 5px;
  margin-bottom: 5px !important;
}

.margin-all-5 {
  margin: 5px !important;
}

.padding-top-5 {
  padding-top: 5px !important;
}

.padding-right-5 {
  padding-right: 5px !important;
}

.padding-bottom-5 {
  padding-bottom: 5px !important;
}

.padding-left-5 {
  padding-left: 5px !important;
}

.padding-x-5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.padding-y-5 {
  padding-top: 5px;
  padding-bottom: 5px !important;
}

.padding-all-5 {
  padding: 5px !important;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.margin-right-10 {
  margin-right: 10px !important;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.margin-left-10 {
  margin-left: 10px !important;
}

.margin-x-10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.margin-y-10 {
  margin-top: 10px;
  margin-bottom: 10px !important;
}

.margin-all-10 {
  margin: 10px !important;
}

.padding-top-10 {
  padding-top: 10px !important;
}

.padding-right-10 {
  padding-right: 10px !important;
}

.padding-bottom-10 {
  padding-bottom: 10px !important;
}

.padding-left-10 {
  padding-left: 10px !important;
}

.padding-x-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.padding-y-10 {
  padding-top: 10px;
  padding-bottom: 10px !important;
}

.padding-all-10 {
  padding: 10px !important;
}

.margin-top-15 {
  margin-top: 15px !important;
}

.margin-right-15 {
  margin-right: 15px !important;
}

.margin-bottom-15 {
  margin-bottom: 15px !important;
}

.margin-left-15 {
  margin-left: 15px !important;
}

.margin-x-15 {
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.margin-y-15 {
  margin-top: 15px;
  margin-bottom: 15px !important;
}

.margin-all-15 {
  margin: 15px !important;
}

.padding-top-15 {
  padding-top: 15px !important;
}

.padding-right-15 {
  padding-right: 15px !important;
}

.padding-bottom-15 {
  padding-bottom: 15px !important;
}

.padding-left-15 {
  padding-left: 15px !important;
}

.padding-x-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.padding-y-15 {
  padding-top: 15px;
  padding-bottom: 15px !important;
}

.padding-all-15 {
  padding: 15px !important;
}

.margin-top-20 {
  margin-top: 20px !important;
}

.margin-right-20 {
  margin-right: 20px !important;
}

.margin-bottom-20 {
  margin-bottom: 20px !important;
}

.margin-left-20 {
  margin-left: 20px !important;
}

.margin-x-20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.margin-y-20 {
  margin-top: 20px;
  margin-bottom: 20px !important;
}

.margin-all-20 {
  margin: 20px !important;
}

.padding-top-20 {
  padding-top: 20px !important;
}

.padding-right-20 {
  padding-right: 20px !important;
}

.padding-bottom-20 {
  padding-bottom: 20px !important;
}

.padding-left-20 {
  padding-left: 20px !important;
}

.padding-x-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.padding-y-20 {
  padding-top: 20px;
  padding-bottom: 20px !important;
}

.padding-all-20 {
  padding: 20px !important;
}

.margin-top-25 {
  margin-top: 25px !important;
}

.margin-right-25 {
  margin-right: 25px !important;
}

.margin-bottom-25 {
  margin-bottom: 25px !important;
}

.margin-left-25 {
  margin-left: 25px !important;
}

.margin-x-25 {
  margin-left: 25px !important;
  margin-right: 25px !important;
}

.margin-y-25 {
  margin-top: 25px;
  margin-bottom: 25px !important;
}

.margin-all-25 {
  margin: 25px !important;
}

.padding-top-25 {
  padding-top: 25px !important;
}

.padding-right-25 {
  padding-right: 25px !important;
}

.padding-bottom-25 {
  padding-bottom: 25px !important;
}

.padding-left-25 {
  padding-left: 25px !important;
}

.padding-x-25 {
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.padding-y-25 {
  padding-top: 25px;
  padding-bottom: 25px !important;
}

.padding-all-25 {
  padding: 25px !important;
}

.margin-top-30 {
  margin-top: 30px !important;
}

.margin-right-30 {
  margin-right: 30px !important;
}

.margin-bottom-30 {
  margin-bottom: 30px !important;
}

.margin-left-30 {
  margin-left: 30px !important;
}

.margin-x-30 {
  margin-left: 30px !important;
  margin-right: 30px !important;
}

.margin-y-30 {
  margin-top: 30px;
  margin-bottom: 30px !important;
}

.margin-all-30 {
  margin: 30px !important;
}

.padding-top-30 {
  padding-top: 30px !important;
}

.padding-right-30 {
  padding-right: 30px !important;
}

.padding-bottom-30 {
  padding-bottom: 30px !important;
}

.padding-left-30 {
  padding-left: 30px !important;
}

.padding-x-30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.padding-y-30 {
  padding-top: 30px;
  padding-bottom: 30px !important;
}

.padding-all-30 {
  padding: 30px !important;
}

.margin-top-35 {
  margin-top: 35px !important;
}

.margin-right-35 {
  margin-right: 35px !important;
}

.margin-bottom-35 {
  margin-bottom: 35px !important;
}

.margin-left-35 {
  margin-left: 35px !important;
}

.margin-x-35 {
  margin-left: 35px !important;
  margin-right: 35px !important;
}

.margin-y-35 {
  margin-top: 35px;
  margin-bottom: 35px !important;
}

.margin-all-35 {
  margin: 35px !important;
}

.padding-top-35 {
  padding-top: 35px !important;
}

.padding-right-35 {
  padding-right: 35px !important;
}

.padding-bottom-35 {
  padding-bottom: 35px !important;
}

.padding-left-35 {
  padding-left: 35px !important;
}

.padding-x-35 {
  padding-left: 35px !important;
  padding-right: 35px !important;
}

.padding-y-35 {
  padding-top: 35px;
  padding-bottom: 35px !important;
}

.padding-all-35 {
  padding: 35px !important;
}

.margin-top-40 {
  margin-top: 40px !important;
}

.margin-right-40 {
  margin-right: 40px !important;
}

.margin-bottom-40 {
  margin-bottom: 40px !important;
}

.margin-left-40 {
  margin-left: 40px !important;
}

.margin-x-40 {
  margin-left: 40px !important;
  margin-right: 40px !important;
}

.margin-y-40 {
  margin-top: 40px;
  margin-bottom: 40px !important;
}

.margin-all-40 {
  margin: 40px !important;
}

.padding-top-40 {
  padding-top: 40px !important;
}

.padding-right-40 {
  padding-right: 40px !important;
}

.padding-bottom-40 {
  padding-bottom: 40px !important;
}

.padding-left-40 {
  padding-left: 40px !important;
}

.padding-x-40 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.padding-y-40 {
  padding-top: 40px;
  padding-bottom: 40px !important;
}

.padding-all-40 {
  padding: 40px !important;
}

.margin-top-45 {
  margin-top: 45px !important;
}

.margin-right-45 {
  margin-right: 45px !important;
}

.margin-bottom-45 {
  margin-bottom: 45px !important;
}

.margin-left-45 {
  margin-left: 45px !important;
}

.margin-x-45 {
  margin-left: 45px !important;
  margin-right: 45px !important;
}

.margin-y-45 {
  margin-top: 45px;
  margin-bottom: 45px !important;
}

.margin-all-45 {
  margin: 45px !important;
}

.padding-top-45 {
  padding-top: 45px !important;
}

.padding-right-45 {
  padding-right: 45px !important;
}

.padding-bottom-45 {
  padding-bottom: 45px !important;
}

.padding-left-45 {
  padding-left: 45px !important;
}

.padding-x-45 {
  padding-left: 45px !important;
  padding-right: 45px !important;
}

.padding-y-45 {
  padding-top: 45px;
  padding-bottom: 45px !important;
}

.padding-all-45 {
  padding: 45px !important;
}

.margin-top-50 {
  margin-top: 50px !important;
}

.margin-right-50 {
  margin-right: 50px !important;
}

.margin-bottom-50 {
  margin-bottom: 50px !important;
}

.margin-left-50 {
  margin-left: 50px !important;
}

.margin-x-50 {
  margin-left: 50px !important;
  margin-right: 50px !important;
}

.margin-y-50 {
  margin-top: 50px;
  margin-bottom: 50px !important;
}

.margin-all-50 {
  margin: 50px !important;
}

.padding-top-50 {
  padding-top: 50px !important;
}

.padding-right-50 {
  padding-right: 50px !important;
}

.padding-bottom-50 {
  padding-bottom: 50px !important;
}

.padding-left-50 {
  padding-left: 50px !important;
}

.padding-x-50 {
  padding-left: 50px !important;
  padding-right: 50px !important;
}

.padding-y-50 {
  padding-top: 50px;
  padding-bottom: 50px !important;
}

.padding-all-50 {
  padding: 50px !important;
}

.margin-top-55 {
  margin-top: 55px !important;
}

.margin-right-55 {
  margin-right: 55px !important;
}

.margin-bottom-55 {
  margin-bottom: 55px !important;
}

.margin-left-55 {
  margin-left: 55px !important;
}

.margin-x-55 {
  margin-left: 55px !important;
  margin-right: 55px !important;
}

.margin-y-55 {
  margin-top: 55px;
  margin-bottom: 55px !important;
}

.margin-all-55 {
  margin: 55px !important;
}

.padding-top-55 {
  padding-top: 55px !important;
}

.padding-right-55 {
  padding-right: 55px !important;
}

.padding-bottom-55 {
  padding-bottom: 55px !important;
}

.padding-left-55 {
  padding-left: 55px !important;
}

.padding-x-55 {
  padding-left: 55px !important;
  padding-right: 55px !important;
}

.padding-y-55 {
  padding-top: 55px;
  padding-bottom: 55px !important;
}

.padding-all-55 {
  padding: 55px !important;
}

.btn-social {
  position: relative;
  padding-left: 54px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 26px;
  margin: 0;
  border-radius: 3px;
  font-family: Arial, sans-serif;
  text-transform: none;
  font-weight: normal;
  font-size: 12px;
}

.btn-social > :first-child {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 42px;
  line-height: 40px;
  font-size: 1.6em;
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.btn-social > i {
  padding-right: 0;
  height: 40px;
}


.btn-github {
  color: #fff;
  background-color: #444;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-github:hover,
.btn-github:focus,
.btn-github:active,
.btn-github.active {
  color: #fff;
  background-color: #2b2b2b;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-google {
  color: #fff;
  background-color: #dd4b39;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-google:hover,
.btn-google:focus,
.btn-google:active,
.btn-google.active {
  color: #fff;
  background-color: #c23321;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active {
  color: #fff;
  background-color: #2d4373;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-twitter {
  color: #fff;
  background-color: #55acee;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter:active,
.btn-twitter.active {
  color: #fff;
  background-color: #2795e9;
  border-color: rgba(0, 0, 0, 0.2);
}