/*
Theme Name: Wanium Child
Theme URI: http://www.themelogi.com/themes/wanium
Description: A child theme of Wanium Theme
Author: THEMELOGI
Author URI: http://www.themelogi.com
Version: 1.0.0
Template: wanium
*/