

/*Loader*/

.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.loader-content {
    background: transparent;
    border: none;
}
.text-white{
  color: white
}

#loaderModal {
  text-align: center;
  padding: 0!important;
}

#loaderModal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog.modal-dialog-centered {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  box-shadow: none;
}