/** Brown
 ******************************************************************/

::-moz-selection {
  color: #fff;
  background-color: #689f38;
}

::selection {
  color: #fff;
  background-color: #689f38;
}

::-moz-selection {
  color: #fff;
  /* Firefox */
  background-color: #689f38;
}

::-webkit-selection {
  color: #fff;
  /* Safari */
  background-color: #689f38;
}

.primary {
  color: #675436;
}

.primaryText {
  color: rgba(0, 0, 0, 0.87);
}

.light-primary {
  color: #a08254;
}

.darkPrimaryColor {
  color: #2e2618;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
  color: rgba(0, 0, 0, 0.87);
}

p,
td {
  color: rgba(0, 0, 0, 0.54);
}

.bootstrap-table .table {
  border-bottom-color: rgba(0, 0, 0, 0.12) !important;
}

.want_square,
.have_square {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  display: block;
}

.want_square,
.want_color {
  background-color: #9bcd70;
  border: 1px solid #8ec65d;
}

.have_square,
.have_color {
  background-color: #5c8c31;
  border: 1px solid #4f792b;
}

#topBar {
  background-color: #50412a;
}

#topBar ul.dropdown-menu {
  /* submenu border top color */
  border-top-color: #675436;
}

#topBar .notifications-popdown-wrapper .unread a {
  color: #689f38 !important;
}

#topBar .notifications-popdown-wrapper .unread a:hover {
  color: #9760c7 !important;
}

#topBar ul.top-links > li > a {
  color: #fff;
}

#topBar ul.top-links > .dropdown.languages > a {
  border: solid #fff 1px;
}

#topNav {
  background-color: #675436;
}

#topNav li > a {
  color: #fff !important;
  opacity: 0.6;
}

#topNav li > a:hover {
  opacity: 1;
}

#topNav li.active > a {
  opacity: 1;
}

#topNav button {
  border-color: #fff !important;
  color: #fff !important;
}

#topNav .add_entry_button a:hover {
  background-color: rgba(0, 0, 0, 0.03);
  opacity: 1;
}

#topNav a.logo {
  color: #689f38;
}

#topNav a.logo:hover {
  color: #fff !important;
}

#share_content a,
#share_content .btn-default,
#aboutModal a,
#aboutModal .btn-default {
  color: #689f38 !important;
}

#share_content a.btn-social,
#share_content .btn-default.btn-social,
#aboutModal a.btn-social,
#aboutModal .btn-default.btn-social {
  color: #fff !important;
}

#share_content a:hover,
#share_content .btn-default:hover,
#aboutModal a:hover,
#aboutModal .btn-default:hover {
  color: #9760c7 !important;
}

#share_content .btn.focus,
#share_content .btn:focus,
#share_content .btn:hover,
#aboutModal .btn.focus,
#aboutModal .btn:focus,
#aboutModal .btn:hover {
  background-color: #fff !important;
  color: #689f38 !important;
  text-decoration: none;
}

#share_content .btn-colored,
#aboutModal .btn-colored {
  background-color: #689f38 !important;
  border-color: #2d4418;
  color: #fff !important;
}

#share_content .btn-colored:hover,
#aboutModal .btn-colored:hover {
  background-color: #fff !important;
  color: #689f38 !important;
  border: 1px solid #2d4418;
  text-decoration: none;
}

#share_content .btn-light-colored,
#aboutModal .btn-light-colored {
  background-color: #86c252;
  border-color: #689f38;
  color: #fff !important;
}

#share_content .btn-dark-colored,
#aboutModal .btn-dark-colored {
  background-color: #4a7228;
  border-color: #2d4418;
  color: #fff !important;
}

#share_content #entry_view .close,
#aboutModal #entry_view .close {
  color: #689f38;
}

#share_content .pagination > .active > a,
#share_content .pagination > .active > a:focus,
#share_content .pagination > .active > a:hover,
#share_content .pagination > .active > span,
#share_content .pagination > .active > span:focus,
#share_content .pagination > .active > span:hover,
#aboutModal .pagination > .active > a,
#aboutModal .pagination > .active > a:focus,
#aboutModal .pagination > .active > a:hover,
#aboutModal .pagination > .active > span,
#aboutModal .pagination > .active > span:focus,
#aboutModal .pagination > .active > span:hover {
  background-color: #689f38;
  border-color: #436624;
  color: #fff !important;
}