/** Dark blue
 ******************************************************************/

::-moz-selection {
  background: #303C57;
}

::selection {
  background: #303C57;
}

::-moz-selection {
  background: #303C57;
  /* Firefox */
}

::-webkit-selection {
  background: #303C57;
  /* Safari */
}

.primary {
  color: #303C57;
}

.primaryText {
  color: rgba(0, 0, 0, 0.87);
}

.light-primary {
  color: #4f638f;
}

.darkPrimaryColor {
  color: #11151f;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
  color: rgba(0, 0, 0, 0.87) !important;
}

p,
td {
  color: rgba(0, 0, 0, 0.54) !important;
}

.bootstrap-table .table {
  border-bottom-color: rgba(0, 0, 0, 0.12) !important;
}

.want_square,
.have_square {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  display: block;
}

.want_square {
  background-color: #ffa6c4;
  border: 1px solid #f30053;
}

.have_square {
  background-color: #f30053;
}

a:active,
a:focus,
a:hover,
a .btn.focus,
a .btn:focus,
a .btn:hover {
  color: #8092b9;
  text-decoration: none;
}

#topBar {
  background-color: #232c40 !important;
}

#topBar ul.dropdown-menu {
  /* submenu border top color */
  border-top-color: #303C57;
}

#topBar ul.top-links > li > a {
  color: #fff;
}

#topBar ul.top-links > .dropdown.languages > a {
  border: solid #fff 1px;
}

#topNav {
  background-color: #303C57 !important;
}

#topNav li > a {
  color: #fff !important;
  opacity: 0.6;
}

#topNav li > a:hover {
  opacity: 1;
}

#topNav li.active > a {
  opacity: 1;
}

#topNav button {
  border-color: #fff !important;
  color: #fff !important;
}

#topNav .add_entry_button a:hover {
  background-color: rgba(0, 0, 0, 0.03);
  opacity: 1;
}

#topNav a.logo {
  color: #ff4081;
}

#topNav a.logo:hover {
  color: #fff !important;
}

#share_content a,
#share_content .btn-default,
#aboutModal a,
#aboutModal .btn-default {
  color: #ff4081 !important;
}

#share_content a:hover,
#share_content .btn-default:hover,
#aboutModal a:hover,
#aboutModal .btn-default:hover {
  color: #00bf7e !important;
}

#share_content .btn.focus,
#share_content .btn:focus,
#share_content .btn:hover,
#aboutModal .btn.focus,
#aboutModal .btn:focus,
#aboutModal .btn:hover {
  background-color: #fff !important;
  color: #ff4081 !important;
  text-decoration: none;
}

#share_content .btn-colored,
#aboutModal .btn-colored {
  background-color: #ff4081 !important;
  border-color: #c50043;
  color: #fff !important;
}

#share_content .btn-colored:hover,
#aboutModal .btn-colored:hover {
  background-color: #fff !important;
  color: #ff4081 !important;
  border: 1px solid #c50043;
  text-decoration: none;
}

#share_content .btn-light-colored,
#aboutModal .btn-light-colored {
  background-color: #ff7da9;
  border-color: #ff4081;
  color: #fff !important;
}

#share_content .btn-dark-colored,
#aboutModal .btn-dark-colored {
  background-color: #ff0359;
  border-color: #c50043;
  color: #fff !important;
}

#share_content #entry_view .close,
#aboutModal #entry_view .close {
  color: #ff4081;
}

#share_content .pagination > .active > a,
#share_content .pagination > .active > a:focus,
#share_content .pagination > .active > a:hover,
#share_content .pagination > .active > span,
#share_content .pagination > .active > span:focus,
#share_content .pagination > .active > span:hover,
#aboutModal .pagination > .active > a,
#aboutModal .pagination > .active > a:focus,
#aboutModal .pagination > .active > a:hover,
#aboutModal .pagination > .active > span,
#aboutModal .pagination > .active > span:focus,
#aboutModal .pagination > .active > span:hover {
  background-color: #ff4081;
  border-color: #f30053;
  color: #fff !important;
}