/** Spring
 ******************************************************************/

::-moz-selection {
  color: #fff;
  background-color: #827717;
}

::selection {
  color: #fff;
  background-color: #827717;
}

::-moz-selection {
  color: #fff;
  /* Firefox */
  background-color: #827717;
}

::-webkit-selection {
  color: #fff;
  /* Safari */
  background-color: #827717;
}

.primary {
  color: #57B318;
}

.primaryText {
  color: rgba(0, 0, 0, 0.87);
}

.light-primary {
  color: #81e53d;
}

.darkPrimaryColor {
  color: #32670e;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
  color: rgba(0, 0, 0, 0.87) !important;
}

p,
td {
  color: rgba(0, 0, 0, 0.54) !important;
}

.bootstrap-table .table {
  border-bottom-color: rgba(0, 0, 0, 0.12) !important;
}

.want_square,
.have_square {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  display: block;
}

.want_square {
  background-color: #d9c626;
  border: 1px solid #413c0c;
}

.have_square {
  background-color: #413c0c;
}

a:active,
a:focus,
a:hover,
a .btn.focus,
a .btn:focus,
a .btn:hover {
  color: #b6f08e;
  text-decoration: none;
}

#topBar {
  background-color: #489414 !important;
}

#topBar ul.dropdown-menu {
  /* submenu border top color */
  border-top-color: #57B318;
}

#topBar ul.top-links > li > a {
  color: #000;
}

#topBar ul.top-links > .dropdown.languages > a {
  border: solid #000 1px;
}

#topNav {
  background-color: #57B318 !important;
}

#topNav li > a {
  color: #000 !important;
  opacity: 0.6;
}

#topNav li > a:hover {
  opacity: 1;
}

#topNav li.active > a {
  opacity: 1;
}

#topNav button {
  border-color: #000 !important;
  color: #000 !important;
}

#topNav .add_entry_button a:hover {
  background-color: rgba(0, 0, 0, 0.03);
  opacity: 1;
}

#topNav a.logo {
  color: #827717;
}

#topNav a.logo:hover {
  color: #000 !important;
}

#share_content a,
#share_content .btn-default,
#aboutModal a,
#aboutModal .btn-default {
  color: #827717 !important;
}

#share_content a:hover,
#share_content .btn-default:hover,
#aboutModal a:hover,
#aboutModal .btn-default:hover {
  color: #7d88e8 !important;
}

#share_content .btn.focus,
#share_content .btn:focus,
#share_content .btn:hover,
#aboutModal .btn.focus,
#aboutModal .btn:focus,
#aboutModal .btn:hover {
  background-color: #fff !important;
  color: #827717 !important;
  text-decoration: none;
}

#share_content .btn-colored,
#aboutModal .btn-colored {
  background-color: #827717 !important;
  border-color: #1a1805;
  color: #fff !important;
}

#share_content .btn-colored:hover,
#aboutModal .btn-colored:hover {
  background-color: #fff !important;
  color: #827717 !important;
  border: 1px solid #1a1805;
  text-decoration: none;
}

#share_content .btn-light-colored,
#aboutModal .btn-light-colored {
  background-color: #b6a720;
  border-color: #827717;
  color: #fff !important;
}

#share_content .btn-dark-colored,
#aboutModal .btn-dark-colored {
  background-color: #4e470e;
  border-color: #1a1805;
  color: #fff !important;
}

#share_content #entry_view .close,
#aboutModal #entry_view .close {
  color: #827717;
}

#share_content .pagination > .active > a,
#share_content .pagination > .active > a:focus,
#share_content .pagination > .active > a:hover,
#share_content .pagination > .active > span,
#share_content .pagination > .active > span:focus,
#share_content .pagination > .active > span:hover,
#aboutModal .pagination > .active > a,
#aboutModal .pagination > .active > a:focus,
#aboutModal .pagination > .active > a:hover,
#aboutModal .pagination > .active > span,
#aboutModal .pagination > .active > span:focus,
#aboutModal .pagination > .active > span:hover {
  background-color: #827717;
  border-color: #413c0c;
  color: #fff !important;
}