/** Orange
 ******************************************************************/

::-moz-selection {
  background: #ff9800;
}

::selection {
  background: #ff9800;
}

::-moz-selection {
  background: #ff9800;
  /* Firefox */
}

::-webkit-selection {
  background: #ff9800;
  /* Safari */
}

.primary {
  color: #ff9800;
}

.primaryText {
  color: rgba(0, 0, 0, 0.87);
}

.light-primary {
  color: #ffbb57;
}

.darkPrimaryColor {
  color: #a86400;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
  color: rgba(0, 0, 0, 0.87) !important;
}

p,
td {
  color: rgba(0, 0, 0, 0.54) !important;
}

.bootstrap-table .table {
  border-bottom-color: rgba(0, 0, 0, 0.12) !important;
}

.want_square {
  background-color: #f5c9c9;
  border: 1px solid #d93232;
}

.have_square {
  background-color: #d93232;
}

.have_square,
.want_square {
  box-shadow: 1px 1px 1px 1px #db8300;
}

a:active,
a:focus,
a:hover,
a .btn.focus,
a .btn:focus,
a .btn:hover {
  color: #ffe0b3;
  text-decoration: none;
}

#topBar {
  background-color: #db8300 !important;
}

#topBar ul.dropdown-menu {
  /* submenu border top color */
  border-top-color: #ff9800;
}

#topBar ul.top-links > li > a {
  color: #fff;
}

#topBar ul.top-links > .dropdown.languages > a {
  border: solid #fff 1px;
}

#topNav {
  background-color: #ff9800 !important;
}

#topNav li > a {
  color: #000 !important;
  opacity: 0.6;
}

#topNav li.active > a {
  opacity: 1;
}

#topNav button {
  border-color: #000 !important;
  color: #000 !important;
}

#share_content a,
#share_content .btn-default {
  color: #e57373 !important;
}

#share_content a:hover,
#share_content .btn-default:hover {
  color: #1a8c8c !important;
}

#share_content .btn.focus,
#share_content .btn:focus,
#share_content .btn:hover {
  background-color: #fff !important;
  color: #e57373 !important;
  text-decoration: none;
}

#share_content .btn-colored {
  background-color: #e57373 !important;
  border-color: #bb2323;
  color: #fff !important;
}

#share_content .btn-colored:hover {
  background-color: #fff !important;
  color: #e57373 !important;
  border: 1px solid #bb2323;
  text-decoration: none;
}

#share_content .btn-light-colored {
  background-color: #efa7a7;
  border-color: #e57373;
  color: #fff !important;
}

#share_content .btn-dark-colored {
  background-color: #db3f3f;
  border-color: #bb2323;
  color: #fff !important;
}

#share_content #entry_view .close {
  color: #e57373;
}

#share_content .fa-info-circle {
  color: #e57373;
}

#share_content .pagination > .active > a,
#share_content .pagination > .active > a:focus,
#share_content .pagination > .active > a:hover,
#share_content .pagination > .active > span,
#share_content .pagination > .active > span:focus,
#share_content .pagination > .active > span:hover {
  background-color: #e57373;
  border-color: #d93232;
  color: #fff !important;
}