/** Orange
 ******************************************************************/
::-moz-selection {
  color: #fff;
  background-color: #e57373;
}
::selection {
  color: #fff;
  background-color: #e57373;
}

::-moz-selection {
  color: #fff;
  /* Firefox */
  background-color: #e57373;
}

::-webkit-selection {
  color: #fff;
  /* Safari */
  background-color: #e57373;
}

.primary {
  color: #ff9800;
}

.primaryText {
  color: rgba(0, 0, 0, 0.87);
}

.light-primary {
  color: #ffbb57;
}

.darkPrimaryColor {
  color: #a86400;
}

h1, h2, h3, h4, h5, h6, th {
  color: rgba(0, 0, 0, 0.87);
}

p, td {
  color: rgba(0, 0, 0, 0.54);
}

.bootstrap-table .table {
  border-bottom-color: rgba(0, 0, 0, 0.12) !important;
}

.want_square, .have_square {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  display: block;
}

.want_square, .want_color {
  background-color: #f5c9c9;
  border: 1px solid #f5c9c9;
}

.have_square, .have_color {
  background-color: #e15d5d;
  border: 1px solid #e15d5d;
}

#topBar {
  background-color: #db8300;
}

#topBar ul.dropdown-menu {
  /* submenu border top color */
  border-top-color: #ff9800;
}

#topBar .notifications-popdown-wrapper .unread a {
  color: #e57373 !important;
}

#topBar .notifications-popdown-wrapper .unread a:hover {
  color: #1a8c8c !important;
}

#topBar ul.top-links > li > a {
  color: #fff;
}

#topBar ul.top-links > .dropdown.languages > a {
  border: solid #fff 1px;
}

#topNav {
  background-color: #ff9800;
}

#topNav li > a {
  color: #fff !important;
  opacity: 0.6;
}

#topNav li > a:hover {
  opacity: 1;
}

#topNav li.active > a {
  opacity: 1;
}

#topNav button {
  border-color: #fff !important;
  color: #fff !important;
}

#topNav .add_entry_button a:hover {
  background-color: rgba(0, 0, 0, 0.03);
  opacity: 1;
}

#topNav a.logo {
  color: #e57373;
}

#topNav a.logo:hover {
  color: #fff !important;
}

#share_content a, #share_content .btn-default, #aboutModal a, #aboutModal .btn-default {
  color: #e57373 !important;
}

#share_content a.btn-social, #share_content .btn-default.btn-social, #aboutModal a.btn-social, #aboutModal .btn-default.btn-social {
  color: #fff !important;
}

#share_content a:hover, #share_content .btn-default:hover, #aboutModal a:hover, #aboutModal .btn-default:hover {
  color: #1a8c8c !important;
}

#share_content .btn.focus, #share_content .btn:focus, #share_content .btn:hover, #aboutModal .btn.focus, #aboutModal .btn:focus, #aboutModal .btn:hover {
  background-color: #fff !important;
  color: #e57373 !important;
  text-decoration: none;
}

#share_content .btn-colored, #aboutModal .btn-colored {
  background-color: #e57373 !important;
  border-color: #bb2323;
  color: #fff !important;
}

#share_content .btn-colored:hover, #aboutModal .btn-colored:hover {
  background-color: #fff !important;
  color: #e57373 !important;
  border: 1px solid #bb2323;
  text-decoration: none;
}

#share_content .btn-light-colored, #aboutModal .btn-light-colored {
  background-color: #efa7a7;
  border-color: #e57373;
  color: #fff !important;
}

#share_content .btn-dark-colored, #aboutModal .btn-dark-colored {
  background-color: #db3f3f;
  border-color: #bb2323;
  color: #fff !important;
}

#share_content #entry_view .close, #aboutModal #entry_view .close {
  color: #e57373;
}

#share_content .pagination > .active > a,
#share_content .pagination > .active > a:focus,
#share_content .pagination > .active > a:hover,
#share_content .pagination > .active > span,
#share_content .pagination > .active > span:focus,
#share_content .pagination > .active > span:hover, #aboutModal .pagination > .active > a,
#aboutModal .pagination > .active > a:focus,
#aboutModal .pagination > .active > a:hover,
#aboutModal .pagination > .active > span,
#aboutModal .pagination > .active > span:focus,
#aboutModal .pagination > .active > span:hover {
  background-color: #e57373;
  border-color: #d93232;
  color: #fff !important;
}

.sort-icon {
  color: #e57373;
  background-color: white;
  border: 1px solid #f5c9c9;
}

.sort-icon:hover {
  background-color: white;
  color: #dd4848;
}

.sort-icon.dim-icon {
  opacity: 0.3;
}

/*
 * MAP
 */
.map-popup {
  width: 100%;
}

.map-popup [class*="_square"] {
  width: 100%;
  height: 180px;
  margin-bottom: 20px;
}

.map-popup .entry_image {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.map-popup .map-popup-link {
  color: #000;
  font-size: 16px;
}

.map-popup p {
  color: lightslategray;
}

/*# sourceMappingURL=orange.css.map */
