/** Purple
 ******************************************************************/

::-moz-selection {
  color: #fff;
  background-color: #00b0ff;
}

::selection {
  color: #fff;
  background-color: #00b0ff;
}

::-moz-selection {
  color: #fff;
  /* Firefox */
  background-color: #00b0ff;
}

::-webkit-selection {
  color: #fff;
  /* Safari */
  background-color: #00b0ff;
}

.primary {
  color: #673ab7;
}

.primaryText {
  color: rgba(0, 0, 0, 0.87);
}

.light-primary {
  color: #9775d3;
}

.darkPrimaryColor {
  color: #422575;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
  color: rgba(0, 0, 0, 0.87);
}

p,
td {
  color: rgba(0, 0, 0, 0.54);
}

.bootstrap-table .table {
  border-bottom-color: rgba(0, 0, 0, 0.12) !important;
}

.want_square,
.have_square {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  display: block;
}

.want_square,
.want_color {
  background-color: #66d0ff;
  border: 1px solid #66d0ff;
}

.have_square,
.have_color {
  background-color: #009ee6;
  border: 1px solid #009ee6;
}

#topBar {
  background-color: #58319c;
}

#topBar ul.dropdown-menu {
  /* submenu border top color */
  border-top-color: #673ab7;
}

#topBar .notifications-popdown-wrapper .unread a {
  color: #00b0ff !important;
}

#topBar .notifications-popdown-wrapper .unread a:hover {
  color: #ff4f00 !important;
}

#topBar ul.top-links > li > a {
  color: #fff;
}

#topBar ul.top-links > .dropdown.languages > a {
  border: solid #fff 1px;
}

#topNav {
  background-color: #673ab7;
}

#topNav li > a {
  color: #fff !important;
  opacity: 0.6;
}

#topNav li > a:hover {
  opacity: 1;
}

#topNav li.active > a {
  opacity: 1;
}

#topNav button {
  border-color: #fff !important;
  color: #fff !important;
}

#topNav .add_entry_button a:hover {
  background-color: rgba(0, 0, 0, 0.03);
  opacity: 1;
}

#topNav a.logo {
  color: #00b0ff;
}

#topNav a.logo:hover {
  color: #fff !important;
}

#share_content a,
#share_content .btn-default,
#aboutModal a,
#aboutModal .btn-default {
  color: #00b0ff !important;
}

#share_content a.btn-social,
#share_content .btn-default.btn-social,
#aboutModal a.btn-social,
#aboutModal .btn-default.btn-social {
  color: #fff !important;
}

#share_content a:hover,
#share_content .btn-default:hover,
#aboutModal a:hover,
#aboutModal .btn-default:hover {
  color: #ff4f00 !important;
}

#share_content .btn.focus,
#share_content .btn:focus,
#share_content .btn:hover,
#aboutModal .btn.focus,
#aboutModal .btn:focus,
#aboutModal .btn:hover {
  background-color: #fff !important;
  color: #00b0ff !important;
  text-decoration: none;
}

#share_content .btn-colored,
#aboutModal .btn-colored {
  background-color: #00b0ff !important;
  border-color: #005c85;
  color: #fff !important;
}

#share_content .btn-colored:hover,
#aboutModal .btn-colored:hover {
  background-color: #fff !important;
  color: #00b0ff !important;
  border: 1px solid #005c85;
  text-decoration: none;
}

#share_content .btn-light-colored,
#aboutModal .btn-light-colored {
  background-color: #3dc3ff;
  border-color: #00b0ff;
  color: #fff !important;
}

#share_content .btn-dark-colored,
#aboutModal .btn-dark-colored {
  background-color: #0086c2;
  border-color: #005c85;
  color: #fff !important;
}

#share_content #entry_view .close,
#aboutModal #entry_view .close {
  color: #00b0ff;
}

#share_content .pagination > .active > a,
#share_content .pagination > .active > a:focus,
#share_content .pagination > .active > a:hover,
#share_content .pagination > .active > span,
#share_content .pagination > .active > span:focus,
#share_content .pagination > .active > span:hover,
#aboutModal .pagination > .active > a,
#aboutModal .pagination > .active > a:focus,
#aboutModal .pagination > .active > a:hover,
#aboutModal .pagination > .active > span,
#aboutModal .pagination > .active > span:focus,
#aboutModal .pagination > .active > span:hover {
  background-color: #00b0ff;
  border-color: #007bb3;
  color: #fff !important;
}

.sort-icon {
  color: #00b0ff;
  background-color: #ccefff;
  border: 1px solid #66d0ff;
}

.sort-icon:hover {
  background-color: #ade6ff;
  color: #008dcc;
}

.sort-icon.dim-icon {
  opacity: 0.3;
}