/** Purple
 ******************************************************************/

::-moz-selection {
  background: #673ab7;
}

::selection {
  background: #673ab7;
}

::-moz-selection {
  background: #673ab7;
  /* Firefox */
}

::-webkit-selection {
  background: #673ab7;
  /* Safari */
}

.primary {
  color: #673ab7;
}

.primaryText {
  color: rgba(0, 0, 0, 0.87);
}

.light-primary {
  color: #9775d3;
}

.darkPrimaryColor {
  color: #422575;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
  color: rgba(0, 0, 0, 0.87) !important;
}

p,
td {
  color: rgba(0, 0, 0, 0.54) !important;
}

.bootstrap-table .table {
  border-bottom-color: rgba(0, 0, 0, 0.12) !important;
}

.want_square {
  background-color: #66d0ff;
  border: 1px solid #007bb3;
}

.have_square {
  background-color: #007bb3;
}

a:active,
a:focus,
a:hover,
a .btn.focus,
a .btn:focus,
a .btn:hover {
  color: #cbbae9;
  text-decoration: none;
}

#topBar {
  background-color: #58319c !important;
}

#topBar ul.dropdown-menu {
  /* submenu border top color */
  border-top-color: #673ab7;
}

#topBar ul.top-links > li > a {
  color: #fff;
}

#topBar ul.top-links > .dropdown.languages > a {
  border: solid #fff 1px;
}

#topNav {
  background-color: #673ab7 !important;
}

#topNav li > a {
  color: #fff !important;
  opacity: 0.6;
}

#topNav li.active > a {
  opacity: 1;
}

#topNav button {
  border-color: #fff !important;
  color: #fff !important;
}

#share_content a,
#share_content .btn-default {
  color: #00b0ff !important;
}

#share_content a:hover,
#share_content .btn-default:hover {
  color: #ff4f00 !important;
}

#share_content .btn.focus,
#share_content .btn:focus,
#share_content .btn:hover {
  background-color: #fff !important;
  color: #00b0ff !important;
  text-decoration: none;
}

#share_content .btn-colored {
  background-color: #00b0ff !important;
  border-color: #005c85;
  color: #fff !important;
}

#share_content .btn-colored:hover {
  background-color: #fff !important;
  color: #00b0ff !important;
  border: 1px solid #005c85;
  text-decoration: none;
}

#share_content .btn-light-colored {
  background-color: #3dc3ff;
  border-color: #00b0ff;
  color: #fff !important;
}

#share_content .btn-dark-colored {
  background-color: #0086c2;
  border-color: #005c85;
  color: #fff !important;
}

#share_content #entry_view .close {
  color: #00b0ff;
}

#share_content .fa-info-circle {
  color: #00b0ff;
}

#share_content .pagination > .active > a,
#share_content .pagination > .active > a:focus,
#share_content .pagination > .active > a:hover,
#share_content .pagination > .active > span,
#share_content .pagination > .active > span:focus,
#share_content .pagination > .active > span:hover {
  background-color: #00b0ff;
  border-color: #007bb3;
  color: #fff !important;
}