/** White / Gray
 ******************************************************************/
::-moz-selection {
  color: #fff;
  background-color: #4CAF50;
}
::selection {
  color: #fff;
  background-color: #4CAF50;
}

::-moz-selection {
  color: #fff;
  /* Firefox */
  background-color: #4CAF50;
}

::-webkit-selection {
  color: #fff;
  /* Safari */
  background-color: #4CAF50;
}

.primary {
  color: #fff;
}

.primaryText {
  color: rgba(0, 0, 0, 0.87);
}

.light-primary {
  color: white;
}

.darkPrimaryColor {
  color: #d4d4d4;
}

h1, h2, h3, h4, h5, h6, th {
  color: rgba(0, 0, 0, 0.87);
}

p, td {
  color: rgba(0, 0, 0, 0.54);
}

.bootstrap-table .table {
  border-bottom-color: rgba(0, 0, 0, 0.12) !important;
}

.want_square, .have_square {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  display: block;
}

.want_square, .want_color {
  background-color: #92cf94;
  border: 1px solid #6ec071;
}

.have_square, .have_color {
  background-color: #449d48;
  border: 1px solid #3d8b40;
}

#topBar {
  background-color: #ededed;
}

#topBar ul.dropdown-menu {
  /* submenu border top color */
  border-top-color: #fff;
}

#topBar .notifications-popdown-wrapper .unread a {
  color: #4CAF50 !important;
}

#topBar .notifications-popdown-wrapper .unread a:hover {
  color: #b350af !important;
}

#topBar ul.top-links > li > a {
  color: #000;
}

#topBar ul.top-links > .dropdown.languages > a {
  border: solid #000 1px;
}

#topNav {
  background-color: #fff;
}

#topNav li > a {
  color: #000 !important;
  opacity: 0.6;
}

#topNav li > a:hover {
  opacity: 1;
}

#topNav li.active > a {
  opacity: 1;
}

#topNav button {
  background-color: #3d8b40;
  color: #fff !important;
  border-color: #275a29 !important;
}

#topNav .add_entry_button a:hover {
  background-color: rgba(0, 0, 0, 0.03);
  opacity: 1;
}

#topNav a.logo {
  color: #4CAF50;
}

#topNav a.logo:hover {
  color: #000 !important;
}

#share_content a, #share_content .btn-default, #aboutModal a, #aboutModal .btn-default {
  color: #4CAF50 !important;
}

#share_content a.btn-social, #share_content .btn-default.btn-social, #aboutModal a.btn-social, #aboutModal .btn-default.btn-social {
  color: #fff !important;
}

#share_content a:hover, #share_content .btn-default:hover, #aboutModal a:hover, #aboutModal .btn-default:hover {
  color: #b350af !important;
}

#share_content .btn.focus, #share_content .btn:focus, #share_content .btn:hover, #aboutModal .btn.focus, #aboutModal .btn:focus, #aboutModal .btn:hover {
  background-color: #fff !important;
  color: #4CAF50 !important;
  text-decoration: none;
}

#share_content .btn-colored, #aboutModal .btn-colored {
  background-color: #4CAF50 !important;
  border-color: #275a29;
  color: #fff !important;
}

#share_content .btn-colored:hover, #aboutModal .btn-colored:hover {
  background-color: #fff !important;
  color: #4CAF50 !important;
  border: 1px solid #275a29;
  text-decoration: none;
}

#share_content .btn-light-colored, #aboutModal .btn-light-colored {
  background-color: #75c378;
  border-color: #4CAF50;
  color: #fff !important;
}

#share_content .btn-dark-colored, #aboutModal .btn-dark-colored {
  background-color: #39843c;
  border-color: #275a29;
  color: #fff !important;
}

#share_content #entry_view .close, #aboutModal #entry_view .close {
  color: #4CAF50;
}

#share_content .pagination > .active > a,
#share_content .pagination > .active > a:focus,
#share_content .pagination > .active > a:hover,
#share_content .pagination > .active > span,
#share_content .pagination > .active > span:focus,
#share_content .pagination > .active > span:hover, #aboutModal .pagination > .active > a,
#aboutModal .pagination > .active > a:focus,
#aboutModal .pagination > .active > a:hover,
#aboutModal .pagination > .active > span,
#aboutModal .pagination > .active > span:focus,
#aboutModal .pagination > .active > span:hover {
  background-color: #4CAF50;
  border-color: #357a38;
  color: #fff !important;
}

.sort-icon {
  color: #4CAF50;
  background-color: #d9eeda;
  border: 1px solid #92cf94;
}

.sort-icon:hover {
  background-color: #c3e5c5;
  color: #3d8b40;
}

.sort-icon.dim-icon {
  opacity: 0.3;
}

/*
 * MAP
 */
.map-popup {
  width: 100%;
}

.map-popup [class*="_square"] {
  width: 100%;
  height: 180px;
  margin-bottom: 20px;
}

.map-popup .entry_image {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.map-popup .map-popup-link {
  color: #000;
  font-size: 16px;
}

.map-popup p {
  color: lightslategray;
}

/*# sourceMappingURL=white_green.css.map */
