/** White / Gray
 ******************************************************************/

::-moz-selection {
  background: #fff;
}

::selection {
  background: #fff;
}

::-moz-selection {
  background: #fff;
  /* Firefox */
}

::-webkit-selection {
  background: #fff;
  /* Safari */
}

.primary {
  color: #fff;
}

.primaryText {
  color: rgba(0, 0, 0, 0.87);
}

.light-primary {
  color: white;
}

.darkPrimaryColor {
  color: #d4d4d4;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
  color: rgba(0, 0, 0, 0.87) !important;
}

p,
td {
  color: rgba(0, 0, 0, 0.54) !important;
}

.bootstrap-table .table {
  border-bottom-color: rgba(0, 0, 0, 0.12) !important;
}

.want_square {
  background-color: #c4e3fc;
  border: 1px solid #1c92f2;
}

.have_square {
  background-color: #1c92f2;
}

a:active,
a:focus,
a:hover,
a .btn.focus,
a .btn:focus,
a .btn:hover {
  color: white;
  text-decoration: none;
}

#topBar {
  background-color: #ededed !important;
}

#topBar ul.dropdown-menu {
  /* submenu border top color */
  border-top-color: #fff;
}

#topBar ul.top-links > li > a {
  color: #000;
}

#topBar ul.top-links > .dropdown.languages > a {
  border: solid #000 1px;
}

#topNav {
  background-color: #fff !important;
}

#topNav li > a {
  color: #000 !important;
  opacity: 0.6;
}

#topNav li.active > a {
  opacity: 1;
}

#topNav button {
  background-color: #349ef3;
  color: #fff !important;
  border-color: #0c7bd3 !important;
}

#share_content a,
#share_content .btn-default {
  color: #64B5F6 !important;
}

#share_content a:hover,
#share_content .btn-default:hover {
  color: #9b4a09 !important;
}

#share_content .btn.focus,
#share_content .btn:focus,
#share_content .btn:hover {
  background-color: #fff !important;
  color: #64B5F6 !important;
  text-decoration: none;
}

#share_content .btn-colored {
  background-color: #64B5F6 !important;
  border-color: #0c7bd3;
  color: #fff !important;
}

#share_content .btn-colored:hover {
  background-color: #fff !important;
  color: #64B5F6 !important;
  border: 1px solid #0c7bd3;
  text-decoration: none;
}

#share_content .btn-light-colored {
  background-color: #9ed1f9;
  border-color: #64B5F6;
  color: #fff !important;
}

#share_content .btn-dark-colored {
  background-color: #2a99f3;
  border-color: #0c7bd3;
  color: #fff !important;
}

#share_content #entry_view .close {
  color: #64B5F6;
}

#share_content .fa-info-circle {
  color: #64B5F6;
}

#share_content .pagination > .active > a,
#share_content .pagination > .active > a:focus,
#share_content .pagination > .active > a:hover,
#share_content .pagination > .active > span,
#share_content .pagination > .active > span:focus,
#share_content .pagination > .active > span:hover {
  background-color: #64B5F6;
  border-color: #1c92f2;
  color: #fff !important;
}