/** Black
 ******************************************************************/

$primaryColor: #202020;
$primaryTextColor: #fff;
$darkPrimaryColor: darken($primaryColor, 7%);
$darkPrimaryTextColor: #fff;
$actionColor: #ABB318;
$accentColor: #90A4AE;
$coloredEntryButton: 0;

@import 'scheme.scss';