/** Browns
 ******************************************************************/

$primaryColor: #fff;
$primaryTextColor: #000;
$darkPrimaryColor: darken($primaryColor, 7%);
$darkPrimaryColor: #000;
$darkPrimaryTextColor: #fff;
$actionColor: #ABB318;
$accentColor: #90A4AE;
$shadeColor: #139AF9;
$colorName: "Spring";

@import 'scheme.scss';