/** Blue
 ******************************************************************/
$primaryColor: #3f51b5;
$primaryTextColor: #fff;
$darkPrimaryColor: darken($primaryColor, 7%);
$darkPrimaryTextColor: #fff;
$accentColor: #9575cd;
$coloredEntryButton: 0;

@import 'scheme.scss';