/** Brown
 ******************************************************************/

$primaryColor: #675436;
$primaryTextColor: #fff;
$darkPrimaryColor: darken($primaryColor, 7%);
$darkPrimaryTextColor: #fff;
$accentColor: #689f38;
$coloredEntryButton: 0;

@import 'scheme.scss';