/** Browns
 ******************************************************************/

$primaryColor: #707070;
$primaryTextColor: #fff;
$darkPrimaryTextColor: #fff;
$darkPrimaryColor: darken($primaryColor, 7%);
$actionColor: #ABB318;
$accentColor: #827717;
$shadeColor: #139AF9;
$colorName: "Spring";

@import 'scheme.scss';