/** Browns
 ******************************************************************/

$primaryColor: #707070;
$primaryTextColor: #fff;
$darkPrimaryTextColor: #fff;
$darkPrimaryColor: darken($primaryColor, 7%);
$accentColor: #827717;
$coloredEntryButton: 0;

@import 'scheme.scss';