/** Fresh
 ******************************************************************/

$primaryColor: #4abdac;
$actionColor: #fc4a1a;
$accentColor: #f7b733;
$shadeColor: #dfdce3;
$colorName: "Fresh";

@import 'scheme.scss'; 