/** Future
 ******************************************************************/

$primaryColor: #2D1961;
$actionColor: #a239ca;
$accentColor: #f717f6;
$shadeColor: #e7dfdd;
$colorName: "Future"; 

@import 'scheme.scss';