/** Browns
 ******************************************************************/

$primaryColor: #A29B89;
$primaryTextColor: #000;
$darkPrimaryColor: darken($primaryColor, 7%);
$darkPrimaryTextColor: #fff;
$accentColor: #6E5747;
$coloredEntryButton: 0;

@import 'scheme.scss';