/** Browns
 ******************************************************************/

$primaryColor: #9e9e9e;
$primaryTextColor: #000;
$darkPrimaryColor: darken($primaryColor, 7%);
$darkPrimaryTextColor: #fff;
$actionColor: #ABB318;
$accentColor: #8d6e63;
$shadeColor: #139AF9;
$colorName: "Spring";

@import 'scheme.scss';