/** Browns
 ******************************************************************/

$primaryColor: #cddc39;
$primaryTextColor: #000;
$darkPrimaryColor: darken($primaryColor, 7%);
$darkPrimaryTextColor: #000;
$actionColor: #ABB318;
$accentColor: #8d6e63;
$shadeColor: #139AF9;
$colorName: "Spring";

@import 'scheme.scss';