/** Muted
 ******************************************************************/

$primaryColor: #506081;
$actionColor: #6d7993;
$accentColor: #9099a2;
$shadeColor: #d5d5d5;
$colorName: "Muted";

@import 'scheme.scss';