/** ocean Blue
 ******************************************************************/

$primaryColor: #052233;
$primaryTextColor: #fff;
$darkPrimaryColor: darken($primaryColor, 7%);
$darkPrimaryTextColor: #fff;
$actionColor: #F6F20B;
$accentColor: #00796b;
$shadeColor: #0751A8;
$colorName: "Ocean blue";

@import 'scheme.scss';