/** Organic
 ******************************************************************/

$primaryColor: #675436;
$actionColor: #21C20B;
$accentColor: #A48A3A;
$shadeColor: #A4713A;
$colorName: "Organic";

@import 'scheme.scss';