/** Organic
 ******************************************************************/

$primaryColor: #3cc47c;
$actionColor: #1e392a;
$accentColor: #e9c893;
$shadeColor: #828081;
$colorName: "Organic";

@import 'scheme.scss';