$inverseAccentColor: invert($accentColor);
$primaryText: rgba(#000, 0.87);
$secondaryText: rgba(#000, 0.54);
$dividerColor: rgba(#000, 0.12);
$white: #fff;
$selectColor: $white;
$selectBackgroundColor: $accentColor;

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow: inset $top $left $blur $color;
    -moz-box-shadow: inset $top $left $blur $color;
    box-shadow: inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

::selection {
  color: $selectColor;
  background-color: $selectBackgroundColor;
}

::-moz-selection {
  color: $selectColor; /* Firefox */
  background-color: $selectBackgroundColor;
}

::-webkit-selection {
  color: $selectColor; /* Safari */
  background-color: $selectBackgroundColor;
}

.primary {
  color: $primaryColor;
}

.primaryText {
  color: $primaryText;
}

.light-primary {
  color: lighten($primaryColor, 17%);
}

.darkPrimaryColor {
  color: darken($primaryColor, 17%);
}

h1, h2, h3, h4, h5, h6, th {
  color: $primaryText;
}

p, td {
  color: $secondaryText;
}

.bootstrap-table .table {
  border-bottom-color: $dividerColor !important;
}

.want_square, .have_square {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  display: block;
}

.want_square, .want_color {
  background-color: lighten($accentColor, 20%);
  border: 1px solid lighten($accentColor, 20%);
}

.have_square, .have_color {
  background-color: darken($accentColor, 5%);
  border: 1px solid darken($accentColor, 5%);
}

#topBar {
  background-color: $darkPrimaryColor;
  ul.dropdown-menu { /* submenu border top color */
    border-top-color: $primaryColor;
  }
  .notifications-popdown-wrapper .unread a {
    color: $accentColor !important;
    &:hover {
      color: $inverseAccentColor !important;
    }
  }
}

#topBar ul.top-links {
  & > li > a {
    color: $darkPrimaryTextColor;
  }
  & > .dropdown.languages > a {
    border: solid $darkPrimaryTextColor 1px;
  }
}

#topNav {
  background-color: $primaryColor;
  li > a {
    color: $primaryTextColor !important;
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }
  }
  li.active > a {
    opacity: 1;
  }

  button {
    @if $coloredEntryButton == 1 {
      background-color: darken($accentColor, 10%);
      color: $white !important;
      border-color: darken($accentColor, 24%) !important;
    } @else {
      border-color: $primaryTextColor !important;
      color: $primaryTextColor !important;
    }
  }
  .add_entry_button a:hover {
    background-color: rgba(0, 0, 0, 0.03);
    opacity: 1;
  }
  a.logo {
    color: $accentColor;
    &:hover {
      color: $primaryTextColor !important;
    }
  }
}

#share_content, #aboutModal {
  a, .btn-default {
    color: $accentColor !important;
    &.btn-social {
      color: $white !important;
    }
    &:hover {
      color: $inverseAccentColor !important;
    }
  }

  .btn.focus, .btn:focus, .btn:hover {
    background-color: #fff !important;
    color: $accentColor !important;
    text-decoration: none;
  }

  .btn-colored {
    background-color: $accentColor !important;
    border-color: darken($accentColor, 24%);
    color: #fff !important;
    &:hover {
      background-color: #fff !important;
      color: $accentColor !important;
      border: 1px solid darken($accentColor, 24%);
      text-decoration: none;
    }
  }

  .btn-light-colored {
    background-color: lighten($accentColor, 12%);
    border-color: $accentColor;
    color: #fff !important;
  }

  .btn-dark-colored {
    background-color: darken($accentColor, 12%);
    border-color: darken($accentColor, 24%);
    color: #fff !important;
  }

  #entry_view {
    .close {
      color: $accentColor;
    }
  }

  .pagination > .active > a,
  .pagination > .active > a:focus,
  .pagination > .active > a:hover,
  .pagination > .active > span,
  .pagination > .active > span:focus,
  .pagination > .active > span:hover {
    background-color: $accentColor;
    border-color: darken($accentColor, 15%);
    color: $white !important;
  }
}

.sort-icon {
  color: $accentColor;
  background-color: lighten($accentColor, 40%);
  border: 1px solid lighten($accentColor, 20%);
  &:hover {
    background-color: lighten($accentColor, 34%);
    color: darken($accentColor, 10%);
  }
  &.dim-icon {
    opacity: 0.3;
  }
}

/*
 * MAP
 */

.map-popup {
  width: 100%;

  [class*="_square"] {
    width: 100%;
    height: 180px;
    margin-bottom: 20px;
  }

  .entry_image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .map-popup-link {
    color: #000;
    font-size: 16px;
  }

  p {
    color: lightslategray;
  }
}