/** Spring
 ******************************************************************/

$primaryColor: #ca3bf2;
$actionColor: #a9a9a9;
$accentColor: #ff3b3f;
$shadeColor: #efefef;
$colorName: "Spring";

@import 'scheme.scss';