/** Spring
 ******************************************************************/

$primaryColor: #57B318;
$actionColor: #ABB318;
$accentColor: #EBF209;
$shadeColor: #139AF9;
$colorName: "Spring";

@import 'scheme.scss';