/** Starry Night
 ******************************************************************/

$primaryColor: #ffce00;
$actionColor: #0375b4;
$accentColor: #007849;
$shadeColor: #f62228;
$colorName: "Starry Night";

@import 'scheme.scss';