/** White / Pink
 ******************************************************************/

$primaryColor: #fff;
$primaryTextColor: #000;
$darkPrimaryColor: darken($primaryColor, 7%);
$darkPrimaryTextColor: #000;
$accentColor: #FF4081;
$coloredEntryButton: 1;

@import 'scheme.scss';