/** White / Gray
 ******************************************************************/

$primaryColor: #fff;
$primaryTextColor: #000;
$darkPrimaryColor: darken($primaryColor, 7%);
$darkPrimaryTextColor: #000;
$accentColor: #64B5F6;
$coloredEntryButton: 1;

@import 'scheme.scss';