/** White / Gray
 ******************************************************************/

$primaryColor: #fff;
$primaryTextColor: #000;
$darkPrimaryColor: darken($primaryColor, 7%);
$darkPrimaryTextColor: #000;
$accentColor: #4CAF50;
$coloredEntryButton: 1;

@import 'scheme.scss';